.layout-control {
    display: flex;
    flex-direction: column;
    background: rgb(240,240,240);

}
.layout-control > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.control-button.bigger > img {
    width: 28px;
    height: 28px;

}
.control-seperator {
    display: flex;
    width: 12px;
    height: 0px;
}
.control-seperator-extended {
    display: flex;
    flex: 1;

}






.control-button {
    width: 22px;
    height: 22px;
    margin: 1px;
    background: rgb(225,225,225);
    border: 1px solid rgb(173,173,173);
}

.control-button:hover{
    background: rgb(229,241,251);
    border: 1px solid rgb(0,120,215);
}
.control-button:active{
    background: rgb(204,228,247);
}
.control-button > img {
    width: 22px;
    height: 22px;
}


.control-toggle-button {
    width: 22px;
    height: 22px;
    margin: 1px;
    background: rgb(225,225,225);
    border: 1px solid rgb(173,173,173);
}

.control-toggle-button:hover {
    background: rgb(229,241,251);
    border: 1px solid rgb(0,120,215);
}

.control-toggle-button:active {
    background: rgb(204,228,247);
}


